.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 0px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 7vh;
}

.youtube-logo {
  width: 80px;
  object-fit: contain;
  margin-left: 10px;
}
.header__left {
  display: flex;
}
.header__center {
  display: flex;
  width: 50%;
  height: 30px;
  border: 1px solid lightgrey;
  align-items: center;
  margin-left: 3%;
}
.header__center > input {
  flex: 1; /*this means that use as much room in container as possible */
  border: none;
  font-size: 15px;
}
.header__center > input::placeholder {
  padding-left: 10px;
  color: #999999;
}
.search__icon {
  border: 1px solid lightgrey;
  color: grey;
  height: 30px !important;
  font-size: 20px !important;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #f2f0f0;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
  /*important overrides the material ui*/
}

.header__right {
  display: flex;
  align-items: center;
}
.icon__right {
  margin-right: 25px;
  color: #606060 !important;
  font-size: 25px !important;
}
.menu__icon {
  font-size: 25px !important;
  color: #606060 !important;
}
.avatar {
  color: #2f429e !important;
  font-size: 30px !important;
  margin: auto 12px;
}
