.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 0px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 7vh;
}

.youtube-logo {
  width: 100px;
  object-fit: contain;
  margin-left: 10px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__center {
  display: flex;
  width: 50%;
  height: 30px;
  border: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search__icon {
  color: grey;
  height: 30px !important;
  font-size: 20px !important;
  margin: 0 0.5rem;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}
.header__center > input {
  flex: 1;
  border: none;
  font-size: 15px;
}
.header__center > input:focus {
  outline: none;
}
.header__center > input::placeholder {
  padding-left: 10px;
  color: #999999;
}

.header__right {
  display: flex;
  gap: 5%;
  align-items: center;
  margin-right: 2rem;
}
.icon__right {
  color: #606060 !important;
  font-size: 25px !important;
}
.menu__icon {
  font-size: 25px !important;
  color: #606060 !important;
}
.avatar {
  color: #2f429e !important;
}
.search__icon__right {
  opacity: 0;
}
@media only screen and (max-width: 614px) {
  .header__right {
    display: none;
  }
  .search__icon__right {
    opacity: 1;
  }
}
