.loader {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.loading--text {
  font-size: 2.4rem;
  color: rgb(43, 43, 43);
}
